.account-setup {
    color: $grey;
    width: 95%;
    margin: 0 auto;

    .account-container,
    .leaders-and-contacts {
        margin: 30px 0;

        .account-container-title {
            display: flex;
            font-size: 14px;
        }
    
        h1.account-container-title {
            font-size: 25px;
            font-weight: normal;
        }

        .account-card-wrapper {
            display: flex;
            width: fit-content;
            padding-top: 30px;

            .account-card-title,
            .leaders-card-title {
                font-weight: 500;
                border-right: 1px solid $grey;
                height: 30px;
                width: fit-content;
                padding: 0 20px 10px 0;
                margin: 0;
                display: flex;
                align-items: center;
                width: 85px;
                display: flex;
                align-items: flex-start;
            }

            .leaders-card-title {
                height: 55px;
            }

            .headquarters,
            .leaders {
                padding: 0 20px;
                height: 30px;
                width: 170px;
                border-right: 1px solid $grey;

                .legend,
                .data {
                    padding: 0;
                    margin: 0;
                }

                .data {
                    font-weight: 500;
                }

                .legend {
                    display: flex;
                    justify-content: space-between;
                }

                .leaders-email {
                    font-size: 13px;
                }
            }

            .leaders {
                height: 55px;
                text-align: initial;

                &:last-child {
                    border-right: none;
                }

                .action-icons {
                    display: flex;

                    .edit,
                    .delete {
                        > img {
                            width: 12px;
                            opacity: 0.7%;
                            padding: 0 5px;
                            cursor: pointer;
                        }
                    }
                }
            }

            .add-contact-wrapper {
                display: flex;
                justify-content: flex-start;
                align-content: inherit;

                .add-contact {
                    > img {
                        width: 24px;
                        padding-right: 10px;
                    }
                }
            }
        }
    }

    .leaders-and-contacts {
        display: flex;
        overflow: hidden;

        .account-card-wrapper {
            padding-top: 0;
        }
    }
}