/*
    1. Color Variables
    2. Shadow Colors
*/

// Variables

$white: #FFFFFF;
$sidebarBackgroundColor: #152240;
$sidebarBorderColor: #4f6d92;
$sidebarActiveMenuItem: #2A4170;

// Shadows

$headerShadow: rgba(171,171,171,1);