/*
    1. Color Variables
    2. Shadow Colors
*/

// Variables

$white: #FFFFFF;
$sidebarBackgroundColor: #152240;
$sidebarBorderColor: #4f6d92;
$sidebarActiveMenuItem: #2A4170;
$grey: #707070;
$bodyBackground: #EFF1F6;
$actionBlue: #2ab8fc;

// Shadows

$headerShadow: rgba(171,171,171,1);
$modalBackgroundShadow: rgba(0, 0, 0, 0.3);