/*
    1. Color Variables
    2. Shadow Colors
*/

// Variables

$white: #FFFFFF;
$black: #000000;
$grey: #707070;
$bodyBackground: #EFF1F6;
$actionBlue: #2ab8fc;
$progressBarBorder: #ebedf4;
$lightGrey: #E6E6E6;
$sidebarBackgroundColor: #152240;
$sidebarBorderColor: #4f6d92;
$sidebarActiveMenuItem: #2A4170;
$modalBackgroundColor: #f9f9f9;
$inputBorder: #D3D3D3;

// Shadows

$headerShadow: rgba(171,171,171,1);
$modalBackgroundShadow: rgba(0, 0, 0, 0.3);
$progressBarContainerShadow: rgba(37, 78, 210, 0.00);
$modalBoxShadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);