.react-grid-Container {
    // @include absolute();
    // width: 100% !important;
    // height: 100%;
    left: 238px;
    width: 1519px;
    height: 610px;
    position: absolute;
    right: 100px;

    .react-grid-Main {
        color: inherit;
        outline: none;

        .react-grid-Grid {
            border: none;
            border-radius: 2px;
            background-color: #ffffff;
            box-shadow: 0 2px 5px 0 rgba(207, 207, 207, 0.59);
            user-select: auto;

            .react-grid-HeaderRow {
                background-color: $white !important;

                    .react-grid-HeaderCell {
                        width:20%;
                        outline: none;
                        border: none;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 2.89;
                        letter-spacing: 0.4px;
                        text-align: left;
                        color: #101d3a;
    
                        &.react-grid-HeaderCell--frozen:last-of-type {
                            box-shadow: none !important;
                        }
                    }

            }

            .react-grid-Viewport {
                .react-grid-Canvas {
                    .react-grid-Row {
                        border-bottom: .5px solid gray;
                        background:  #ffffff;
                        box-shadow: none;
                        width: 100%;

                        .row-selected {
                            background-color: #f9fafa;
                        }

                        label.react-grid-checkbox-label::before {
                            opacity: 0;
                        }

                        .react-grid-checkbox:checked + label.react-grid-checkbox-label::before {
                            opacity: 1;
                        }

                        &.grid-row-inactive {
                            opacity: 0.35;
                        }

                        .react-grid-Cell {
                            outline: none;
                            width: 20%;
                            font-family: Roboto;
                            text-align: left;
                            font-size: 14px;
                            line-height: 2.62;
                            color: #101d3a;
                            border-right: none;
                            border-bottom-width: 1px;
                            border-bottom-color: rgba(233,233,234,0.25);


                            .hierarchy-cell {
                                width: 8px;
                                height: 8px;
                                border-radius: 50%;
                                border: 1px solid #707070;
                                background-color: #ffffff;
                                display: inline-block;
                                margin-right: 1px;
                            }

                            
                            .icon-size {
                                text-align: center;
                                img {
                                    width:22px;
                                    height: 14px;
                                }
                            }

                            &:focus {
                                border: none;
                            }

                            &.react-grid-Cell--frozen.rdg-last--frozen {
                                box-shadow: none !important;
                                outline: none;
                            }

                        }

                        &:hover {
                            background-color: #f9fafa;

                            label.react-grid-checkbox-label::before {
                                opacity: 1;
                            }

                            .actions-cell, .supply-actions-cell{
                                .actions-icons-wrapper {
                                    .delete-action-wrapper, .edit-action-wrapper, .settings-action-wrapper {
                                        opacity: 1;
                                    }
                                }
                            }
                        }

                        &:active {
                            background-color: #f9fafa;
                        }
                    }
                }
            }

            // .react-grid-checkbox:checked + .react-grid-checkbox-label:before {
            //     outline: none;
            //     background-color: #7396ff;
            //     border: none;
            //     content: url('../assets/checkmark_checkbox.svg');
            //     vertical-align: middle;
            //     line-height: 18px;
            // }
        }
    }
}