.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #152240;
  position: fixed;
  top: 0px;
  width: 250px;
  height: 100%;
  color: #ffffff;
  text-align: left;

  .support-button {
    position: relative;
    top: 90px;
    left: 70px;
    height: 30px;
    background-color: #152240;
    border: 1px solid  #4f6d92;
    border-radius: 4px;
    .button-name {
      font-size: 14px;
      color: #ffffff;
    }
  }
}
.nav-side-menu .brand {
  background-color: #152240;
  line-height: 50px;
  display: block;
  padding-left: 15px;
  border-bottom: 1px solid rgba(37, 78, 210, 0.08);;
  padding-top: 10px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  background-color: #152240;
  // font-family: OpenSans;
  font-size: 14px;
  line-height: 2.53;
  text-align: left;
  color: #ffffff;
  padding-bottom: 5px;

  .icon-size {
    img {
      width: 20px;
      height: 20px;
      padding-right: 10px;
      position: relative;
      top: 5px;
    }
  }

  .no-icon-list {
    padding-left: 45px;
  }

  .account-setup {
    box-sizing: border-box;
    width: 230px;
    height: 50px;
    border-radius: 4px;
    background-color: #2A4170;
    border: 1px solid #2A4170;
    box-sizing: border-box;
    padding-left: 3px;
  }
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #4f6d92;
  margin-left: 0px;
  padding-bottom: 10px;
  padding-top: 8px;
}

.isDisabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.isDisabled > a {
  color: currentColor;
  display: inline-block; 
  pointer-events: none;
  text-decoration: none;
}

.nav-side-menu li {
  padding-left: 10px;
  border-bottom: 1px solid #4f6d92;
  
}
.nav-side-menu li a {
  text-decoration: none;
  color: #ffffff;
}

@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }

  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  padding: 0px;
}
